/* Main Style */
.App {
  text-align: center;
  background-color: rgb(232, 250, 250);
}
/* NavBar Style */
.navbar {
  background-color: rgb(205, 245, 245) !important;
}
/* Card Stayle */
.SectionCard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
}
.card {
  margin: 5px 0;
}
/* Pagination Style  */
.Pagination1 {
  display: flex;
  justify-content: center;
}
/* Form Style */
.mainform {
  border-radius: 6%;
  background-color: rgb(251, 251, 251);
  margin: 0 30%;
  padding: 3px;
}
.formdiv {
  width: auto;
}
.formstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 30%;
}
/* Footer Style */
.footer1 {
  background-color: rgb(205, 245, 245);
}
.row {
  display: flex;
  justify-content: space-around;
  padding: 0 0 0 5%;
}
.mt-3 {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.fa-brands {
  font-size: x-large;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-facebook {
  color: #4867aa;
}
.fa-instagram-square {
  color: #a92fbe;
}
.fa-linkedin {
  color: #0077b5;
}
